.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(255, 235, 161);
  padding-top: 20px;
}

.container {
  padding-top: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  border: 1px solid black;
  border-radius: 7px;
  background-color: bisque;
}

.card--image {
  width: 200px;
  height: 180px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  cursor: pointer;
}

.scoreboard {
  background-color: black;
  border: 2px black solid;
  padding: 5px;
  border-radius: 10px;
  font-family: Karla, sans-serif;
  color: white;
  font-weight: bold;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.heading {
  font-family: Karla, sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;@font-face {
    font-family: Karla;
    src: url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700&display=swap');
  }
}